h1{    
    padding: 3%;
    background-color: #008000;
    color: white;
}
h2{
    padding: 1%;
    background-color: lightgreen;
    color: black;    
    margin-right: 5%;
}
p{     
    margin-left: 1%;
    margin-right: 5%;
}
ul{
    margin-left: 1%;
}

a:link{
    color: green;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: #B7E08B;
}
a:active{
    color: #B7E08B;
    text-decoration: underline;
}
a:visited{
    color: darkgreen;
    text-decoration: none;
}