h1{    
    padding: 2%;
    background-color: #008000;
    color: white;
    margin-right: 5%;
    border-radius: 1em;
} 

h2{
    padding: 1%;
    background-color: #00b300;
    color: black;    
    margin-right: 7%;
    border-style: solid;
    border-color: darkgreen;
    border-radius: 1em;
}

body{
    background-image: url("img/fadingBackground.jpg");
    background-repeat: repeat-y;
    background-position: right top;     
}

p{     
    margin-left: 1%;
    max-width: 80%;  
    box-sizing: content-box;     
}

ul{
    margin-left: 1%;           
}

a:link{
    color: green;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: #B7E08B;
}
a:active{
    color: #B7E08B;
    text-decoration: underline;
}
a:visited{
    color: darkgreen;
    text-decoration: none;
}

address{
    text-decoration: underline;
    line-height: 1.em;
}